<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_admin.css') }}">
    <title>Administrador</title>
</head>
<body id="layout">
    <header class="header">
        <h3>Administrador</h3>  
    </header>
    <aside class="menu">
        <div>
            <img src="{{ url_for('static', filename='img/menu.png') }}" alt="" id="">
        </div>
        <nav class="nav_bar">
            <a href="{{ url_for('app_routes.formulario_evento_bp.formulario_evento') }}">
                <button class="nav_btn">Eventos</button>
            </a>
            <a href="">
                <button class="nav_btn">Historial de eventos</button>
            </a>
            <a href="{{ url_for('app_routes.solicitud_donacion_bp.solicitud_donancion') }}">
                <button class="nav_btn">Donaciones</button>
            </a>
            <a href="{{ url_for('app_routes.solicitud_incripcion_bp.solicitud_inscripion') }}">
                <button class="nav_btn">Inscripciones</button>
            </a>
        </nav>
    </aside>
    <main class="contenedor">
        {% block contenido %}{% endblock %}
    </main>
</body>
</html>