<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo_admin.css">
    <title>Administrador</title>
</head>
<body id="layout">
    <header class="header">
        <h3>Administrador</h3>  
    </header>
    <aside class="menu">
        <div>
            <img src="../static/img/menu.png" alt="" id="">
        </div>
        <nav class="nav_bar">
            <a href="../templates/eventos.html">
                <button class="nav_btn">Eventos</button>
            </a>
        </nav>
    </aside>
    <main class="contenedor">
        <div id="contenido"></div>
    </main>
</body>
</html>