<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/formularios.css">
    <title>Inscripción</title>
</head>
<body>
    <div class="cont-form-inscripcion">
        <h2>INSCRIPCIÓN</h2>
        <form action="incripcionForm" method="POST" onsubmit="return validarYEnviar()">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        
            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" name="cedula" required>
        
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
        
            <label for="celular">Celular:</label>
            <input type="tel" id="celular" name="celular" required>
        
            <label for="profesion">Profesión (opcional):</label>
            <input type="text" id="profesion" name="profesion">
        
            <button type="submit">Inscribirse</button>
        </form>
    </div>
    <script src="../static/javascript/validar_inscripcion.js"></script>
</body>
</html>