<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo_admin.css">
    <title>Nuevo Evento</title>
</head>
<body>
    <div class="cont-edit-publicacion">
        <form action="" id="form-n-publicacion" method="POST" enctype="multipart/form-data">
            <label for="ttulo">Titulo:</label>
            <input type="text" name="titulo" id="titulo-publicacion">
            <label for="contenido">Contenido:</label>
            <textarea name="contenido" id="texto-publicacion" cols="30" rows="10"></textarea>
            <label for="imagen">Imagenes:</label>
            <div class="custom-file-input"></div>
            <input type="file" name="imagen" id="img-publicacion">
            <button class="btn-agregar" id="btn-publicar">Crear evento</button>
        </form>
    </div>
</body>
</html>