<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
    <title>Nuevo Evento</title>
</head>
<body>
    <div class="cont-form-evento">
        <h2>NUEVO EVENTO</h2>
        <form action="/crear_evento" method="POST" enctype="multipart/form-data">
            <label for="nombreEvento">Nombre del Evento:</label>
            <input type="text" id="nombreEvento" name="nombreEvento" required>
        
            <label for="descripcionEvento">Descripción del Evento:</label>
            <textarea id="descripcionEvento" name="descripcionEvento" rows="4" required></textarea>
        
            <label for="lugar">Lugar:</label>
            <input type="text" id="lugar" name="lugar" required>
        
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>

            <label for="costo">Costo:</label>
            <input type="number" id="costo" name="costo">

            <label for="imagenes">Imágenes:</label>
            <input type="file" id="imagenes" name="imagenes[]" accept="image/*" multiple required>
        
            <button type="submit">Crear evento</button>
        </form>
    </div>
</body>
</html>