<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
</head>
<body>
    <div class="cont-evento">
        <div class="galeria-evento">
            <h2>Últimos eventos</h2>
        </div>
        <div class="descripcion-evento">
            <h2>Titulo evento</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa corrupti id atque laborum nostrum molestiae a porro voluptate. Ducimus ipsum dolores velit dolor totam minus nobis reiciendis, soluta corporis sunt.</p>
            <button>Ver más</button>
        </div>
        <div class="proximos-eventos">
            <div>
                <h2>Evento</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab modi quas labore temporibus, possimus quod, sapiente totam, sint eum nobis nisi exercitationem impedit. Ducimus voluptatibus earum id veritatis, atque non.</p>
                <button>Inscribirse</button>
            </div>
        </div>
        <div class="eventos-anteriores">
            <div class="item-evento-anterior">
                <h4>Titulo del evento</h4>
                <span>Fecha del evento</span>
            </div>
        </div>
    </div>
</body>
</html>